@import "fontAwesome/font-awesome";

.hop-uptick div {
    color: #76FF03;
    background-color: #212121;
}

.hop-downtick div {
    color: #FF9800;
    background-color: #212121;
}

.hop-unchanged div {
    color: #FFEB3B;
    background-color: #212121;
}

.hop-positive div {
    color: white;
    background-color: #0D47A1;
}

.hop-negative div {
    color: white;
    background-color: #B71C1C;
}

.hop-positive-pos div {
    color: #FFEB3B;
    background-color: #212121;
}

.hop-negative-pos div {
    color: #FF9800;
    background-color: #212121;
}

.hop-connected {
    color: green !important;
}

.hop-disconnected {
    color: red !important;
}
