@import "fontAwesome/font-awesome";

.hop-uptick div {
    color: #76FF03;
    background-color: #212121;
}

.hop-downtick div {
    color: #FF9800;
    background-color: #212121;
}

.hop-unchanged div {
    color: #FFEB3B;
    background-color: #212121;
}

.hop-positive div {
    color: white;
    background-color: #0D47A1;
}

.hop-negative div {
    color: white;
    background-color: #B71C1C;
}

.hop-positive-alt div {
    color: #FFEB3B;
    background-color: #212121;
}

.hop-negative-alt div {
    color: #FF9800;
    background-color: #212121;
}

.hop-connected {
    color: green !important;
}

.hop-disconnected {
    color: red !important;
}

.hop-success {
    color: green !important;
}

.hop-failure {
    color: red !important;
}

.hop-chain-strike {
    color: white;
    background-color: #3283BE;
}

.hop-pointer {
    cursor: pointer !important;
}